body {
   background: linear-gradient(0deg,rgba(189, 189, 189, 1) 0%, rgba(232, 232, 232, 1) 56%, rgba(255, 255, 255, 1) 100%);
    background-attachment:fixed;
}

#container-geral {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 10vh 10vw;
}

.enviar {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 16px;
    width: 5vw;
    aspect-ratio: 2/1;

    cursor: pointer;
}

.enviar:hover {
    background-color: black;
    color: white;
    border: 1px dotted black;

}

.enviar:active {
    border: 1px solid black;
}

.textbox {
    width: 20vw;
    aspect-ratio: 10/1;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 6px;
}

.textbox:hover {
    border-color: black;
    border-radius: 8px;
    background-color: gainsboro;
}
label {
    margin: 5vh 0;
}

.radiobuttons {
    aspect-ratio: 1/1;
    width: 16PX;
}