body {
    margin: 0;
}

header {
    width: 100vw;
    background-color: brown;
    padding: 0;
    display: flex;
    justify-content: center;

}

header p {
    background-color: aqua;
    float: left;
    margin: 0 10px 0 10px;
    padding: 10px;
    
}

.main-content {
margin-left: 5vw;
margin-right: 5vw;
text-align: justify;
}

.main-content p {
    margin: 0 20vh;
}


.main-content .titles {
    text-align: center;
    margin: 20vh 0;
}

.main-content li {
    margin: 0 18vh;
    text-align: left;
}

